{{ "<!-- Advantages Section -->" | safeHTML }}
<section class="success" id="advantages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.advantages.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <ul>
                <li>Проект должен быть интересным и веселым. Как только нам перестает быть интересным проект - мы тянем сроки и не выходим на работу. Работа должна быть любимой!</li>
                <li>У нас золотые руки, поэтому нет инструмента. Весь инструмент мы приобретаем за счет заказчиков.</li>
                <li>Заменим Вам охрану на объекте. Будем ночевать на объекте не спрашивая Вас об этом.</li>
                <li>После трудового будня перед сном любим расслабиться и выпить что-нибудь крепкого, не покидая пределов стройки. Ведь завтра снова в бой, да и запахом перегара проще отгонять заказчиков.</li>
                <li>Мы постоянно учимся и растем профессионально! Заказчик должен это понимать и смириться, все огрехи за его счет, мы же учимся.</li>
                <li>Работа не требует спешки. Мы начнем работать только в том случае, если заказчик предоставил весь материал. Если не хватает крана для сантехнических работ - мы не будем делать ничего, даже возводить стены и просто покинем объект.</li>
                <li>Наша кредо - <strong>исполнитель всегда прав!</strong></li>
            </ul>
        </div>
    </div>
</section>
