<div class="text-center" id="faces">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ with .Site.Params.faces.title }}{{.}}{{end}}</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {{ range $.Site.Data.people }}
                <div class="footer-col col-sm-4"{{ if .id }} id="face-{{ .id }}"{{ end }}>
                    {{ if .photo }}
                    <p>
                        <img src="{{ .photo }}" class="img-circle" alt="{{ .name }}" width="200px" height="200px" />
                    </p>
                    {{ end }}

                    <h3>{{ .name }}</h3>

                    {{ if .vk }}
                    <ul class="list-inline">
                        <li>
                            <a href="https://vk.com/{{ .vk }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-vk"></i></a>
                        </li>
                    </ul>
                    {{ end }}

                    {{ if .phone }}
                        <p>{{ .phone }}</p>
                    {{ end }}

                    {{ if .description }}
                        <p>{{ .description }}</p>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>